
* {
    overflow-x: hidden;
    transition: all;
    transition: 0.3s;
    font-family: 'Open Sans', sans-serif;
}
body {
    width: 100%;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
    padding: 10px;
}
.header-end {
    margin-right: 20px;
}
button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #454545;
}
a {
    color: #454545;
    text-decoration: none;
}
.main {
    display: flex;
    padding: 16px;
    width: 100%;
    justify-content: space-between;
}
#main  {
    display: flex;
    width: 100%;
    font-size: 10px;
}
.icons {
    display: flex;
    gap: 15px;
}
.partner-btn {
    background: var(--unnamed, linear-gradient(225deg, #02A3FF 0%, #2A84E9 100%));
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
}
#main  p {
    font-size: 6px;
    display: flex;
}
.info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #37b6ff4a;
}
.info h1 {
    font-size: 20px;
    color: #2e6bef;
}
.info p {
    font-size: 8px;
}


footer {
    width: 100%;
    background-color: #37B6FF;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.footer-start {
    display: flex;
}
.footer-start-top {
    display: flex;
}


@media screen and (max-width: 410px) {
    #hide {
        display: none;
    }
}
@media screen and (min-width: 720px) {
    #hide {
        display: block;
    }
}