/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
    font-family: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
    transition: all;
    transition: 0.3s;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
    color: #373737;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

p {
    font-size: inherit;
	font-weight: inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
	font-weight: 700;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}



header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: 0;
    height: 100px;
}
.wrapper {
    width: 100%;
}
.wrapper p{
    font-size: 10px;
    
}
.content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.content-left {
    width: 100%;
}
.content-left img{
    width: auto;
}
.icons {
    margin-top: 40px;
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}
.partner-btn {
    margin-top: 40px;
    border-radius: 5px;
    background: var(--unnamed, linear-gradient(225deg, #02A3FF 0%, #2A84E9 100%));
    color: #fff;
    padding: 10px;
}
.info {
    background-color: #2A84E9;
    width: 100%;
    color: #fff;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    text-align: center;
    
}
.info h1 {
    font-size: 22px;
}
.howwork {
    padding: 16px;
}
.howwork h1 {
    font-size: 20px;
}
.cashback {
    background-color: #2A84E9;
    color: #fff;
    padding: 5px;
    border-radius: 9999px;
    font-size: 14px;
}
.cashback-content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}
.cashback-block {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    padding: 10px;
}
.cashback-block p {
    font-size: 15px;
}
.icons {
    display: flex;
    justify-content: start;
}
.info-person {
    display: flex;
    flex-direction: column;
}
.person-name p {
    font-size: 15px;
}
.comments {
    padding: 16px;
}
.contact {
    padding: 16px;
}
.send-mail {
    display: flex;
    justify-content: space-between;
}
input {
    border: 2px solid #000;
    border-radius: 5px;
    max-width: 150px;
    padding: 5px;
    margin: 5px;
}
input:hover,
input:focus,
input:active {
    border: 2px solid #02A3FF;
}
.inputs {
    display: flex;
}
form {
   display: flex;
   flex-direction: column;
}
.flex {
    display: flex;
}
footer {
    background-color: #02A3FF;
    width: 100%;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    color: #fff;
}
.copy {
    font-size: 10px;
}
@media screen and (max-width: 400px) {
    #hide {
        display: none;
    }
}